/* sane box model */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
}

.light-gray {
  background-color: #e5e5e5;
}

.card {
  background-color: white;
  position: absolute;
  padding: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  box-shadow: 0 0.2em 0 0 #d4d4d4;
}

.card h1 {
  font-size: 2em;
  font-weight: 300;
}

.card em {
  font-weight: 400;
  font-style: normal;
}

#field {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#joystick {
  padding: 0;
	width: 16em;
  height: 16em;
  left: 1em;
  top: 5em;
  background-color: rgb(204, 236, 248);
}

#joystick .background {
  width: 13.6em;
  left: 1.2em;
  margin-top: 1.2em;
  position: relative;
  background-color: white;
  border: 1px solid rgba(51, 181, 229, 0.5);
}

#joystick .knob {
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  margin-top: -10%;
  margin-left: -10%;
  background: rgb(51, 181, 229);
}

#heatmap {
  width: 16em;
  height: 22em;
  left: 1em;
  top: 22em;
}

#heatmap p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #999;
}

